control==0.9.1
gitpython
ipykernel
ipython
ipywidgets
jupyter-book
jupyter-cache
jupyter-sphinx
latexcodec
linkify-it-py
matplotlib
markdown-it-py
myst-nb
myst-parser
nested-lookup
numpy
pandas
pybtex
pybtex-docutils
pydata-sphinx-theme
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-panels
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-bibtex
sympy
